@import "../../variables.scss";

.box {
  background-color: $white-color;
  padding: 40px;
  width: 396px;
  border-radius: $border-radius-m;
  height: 100%;
}

.logo {
  width: 180px;
  height: 34px;
}
