@import "../../../variables.scss";

.container {
  bottom: 0;
  width: 100%;
  height: 94px;
  &-absolute {
    position: absolute;
  }
  &-sticky {
    background-color: $white-color;
    border-radius: 0 0 $border-radius-m $border-radius-m;
    position: sticky;
  }
}

.divider {
  height: 1px;
  background-color: $lightgrey-color;
}

.buttonBox {
  width: fit-content;
  padding-block: 24px;
  padding-inline: 40px;
}

.buttonBoxMobile {
  width: 100%;
}

.paddingMobile {
  padding: 16px;
}
