@import "../../variables";

.fullWidth {
  width: 100%;
}

.width {
  width: 100%;
  max-width: 240px;
}

.titleVertical {
  font-size: $fontsize-s;
  font-weight: 400;
  line-height: 18px;
  color: $black-color;
}

.titleHorizontal {
  width: 100px;
  white-space: nowrap;
  font-size: $fontsize-m;
  line-height: 24px;
  color: $grey-color;
}

.input {
  width: 100%;
  border: 1px solid $lightgrey-color;
  border-radius: 8px;
  padding: 12px 16px;
  font-size: $fontsize-m;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: 16px 50%;
  transition: all 0.3s ease-in;

  &:focus {
    outline: 1px solid $primary-color;
    box-shadow: 0px 0px 32px 0px #633cff40;
  }

  &-error {
    border: 1px solid $error-color;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  &-email,
  &-password,
  &-github,
  &-link {
    padding: 12px 16px 12px 44px;
  }

  &-email {
    background-image: url(../../images/icon-email.svg);
  }

  &-password,
  &-github {
    background-image: url(../../images/icon-password.svg);
  }

  &-link {
    background-image: url(../../images/icon-link.svg);
  }
}

.container {
  position: relative;
  width: 100%;
}

.errorMessage {
  position: absolute;
  right: 0;
  padding-right: 16px;
  padding-block: 12px;
}
