@import "../../variables.scss";

.box {
  width: 100%;
  margin: 3%;
  .mobile {
    height: 100vh;
    background-color: $white-color;
    margin: 0;
  }
}

.width {
  width: 100%;
}

.background {
  position: absolute;
  top: 0px;
  height: 357px;
  width: 100%;
  background-color: $primary-color;
  border-radius: 0 0 32px 32px;
  z-index: -1;
}

@mixin containerStyle {
  min-width: 237px;
  width: fit-content;
  min-height: 300px;
  height: fit-content;
  padding: 48px 56px;
}

.container {
  @include containerStyle();
  background-color: $white-color;
  border-radius: $border-radius-l;
  position: relative;
  box-shadow: 0px 0px 32px 0px #0000001a;
}

.containerMobile {
  @include containerStyle();
}
