@import "../../variables.scss";

.box {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.container {
  height: 199px;
}

.image {
  border-radius: 100%;
  width: 96px;
  height: 96px;
  border: 4px solid $primary-color;
}

.name,
.email {
  width: fit-content;
  min-width: 160px;
  background-color: $white-color;
  &.name {
    top: 180px;
  }

  &.email {
    top: 210px;
  }
}

.mediabox {
  width: 237px;
  height: 44px;
  box-sizing: border-box;
}
