@import "../../variables.scss";

.box {
  padding: 16px;
  border-radius: 8px;
  &-github {
    background-color: $github-color;
  }
  &-youtube {
    background-color: $youtube-color;
  }
  &-linkedin {
    background-color: $linkedin-color;
  }
  &-facebook {
    background-color: $facebook-color;
  }
  &-frontendmentor {
    background-color: $white-color;
    border: 1px solid $lightgrey-color;
  }
  &-twitter {
    background-color: $twitter-color;
  }
  &-twitch {
    background-color: $twitch-color;
  }
  &-devto {
    background-color: $devto-color;
  }
  &-codewars {
    background-color: $codewars-color;
  }
  &-freecodecamp {
    background-color: $freecodecamp-color;
  }
  &-gitlab {
    background-color: $gitlab-color;
  }
  &-hashnode {
    background-color: $hashnode-color;
  }
  &-stackoverflow {
    background-color: $stackoverflow-color;
  }
}

.icon {
  width: 16px;
  height: 16px;
  &-grey {
    fill: $grey-color;
  }
  &-white {
    fill: $white-color;
  }
}

.arrow {
  fill: $white-color;
  cursor: pointer;
}
