@import "../../../variables.scss";

.box {
  position: sticky;
  top: 0px;
  min-height: 631px;
  height: 100%;
  width: fit-content;
  background-color: $white-color;
  padding-inline: calc((30% - 308px) / 2);
  padding-block: 101px;
  border-radius: $border-radius-m;
}

.margin {
  margin-top: 65px;
}
