@import "../../../../../variables.scss";

.box {
  background-color: $background-color;
  border-radius: $border-radius-m;
  padding: 20px;
  &:only-child {
    margin-bottom: 94px;
  }
}

.fullWidth {
  width: 100%;
}

.button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
