@import "../../../../variables.scss";

.box {
  background-color: $background-color;
  padding: 20px;
  border-radius: $border-radius-m;
}

.buttonBox {
  position: relative;
  width: 193px;
  height: 193px;
}

.width {
  width: 100%;
  max-width: 240px;
}

.input {
  display: none;
}

.uploadDiv {
  background-color: $third-color;
  width: 193px;
  height: 193px;
  border-radius: $border-radius-m;
  cursor: pointer;
}

.image {
  position: absolute;
  width: 193px;
  height: 193px;
  border-radius: $border-radius-m;
  cursor: pointer;
}

.icon {
  fill: $primary-color;
  &-white {
    fill: $white-color;
  }
}

.content {
  position: absolute;
}
