@import "../../../../variables.scss";

.box {
  background-color: $background-color;
  padding: 20px;
  border-radius: $border-radius-m;
}

.buttonBox {
  width: 193px;
  height: 193px;
}

.width {
  width: 31.5%;
}

.input {
  display: none;
}

.uploadDiv {
  background-color: $third-color;
  width: 193px;
  height: 193px;
  padding: 61px, 38px, 60px, 39px;
  border-radius: $border-radius-m;
  cursor: pointer;
}
