@import "../../../variables.scss";

@mixin boxStyle {
  box-sizing: border-box;
  width: 100%;
  padding: 16px 24px;
}

.box {
  @include boxStyle();
  background-color: $white-color;
  border-radius: $border-radius-m;
}

.boxMobile {
  @include boxStyle();
}

.buttonwidth {
  width: 50%;
}
