@import "../../variables.scss";

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.containerMobile {
  background-color: $white-color;
  height: 100vh;
  width: 100vw;
  padding: 32px;
}

.box {
  background-color: $white-color;
  padding: 40px;
  width: 396px;
  border-radius: $border-radius-m;
  height: 100%;
}

.boxMobile {
  height: 100%;
  width: 100%;
}

.logo {
  align-self: center;
  width: 180px;
  height: 34px;
}
