@import "../../../variables.scss";

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  10%,
  90% {
    opacity: 1;
  }
}

.box {
  background-color: $black-color;
  width: fit-content;
  padding: 16px 24px;
  border-radius: $border-radius-m;
  animation: fadeInOut 4s ease-in forwards;
}
