@import "../../../variables.scss";

.box {
  height: 834px;
  background-color: $white-color;
  width: 100%;
  border-radius: $border-radius-m;
}

.box2 {
  padding: 40px;
}

.container {
  background-color: $background-color;
  padding: 40px;
  text-align: center;
}

.textcontainer {
  padding-inline: 120px;
}

.divider {
  height: 1px;
  background-color: $lightgrey-color;
}

.buttonBox {
  width: fit-content;
  padding-block: 24px;
  padding-inline: 40px;
}
