$primary-color: #633cff;
$secondary-color: #beadff;
$third-color: #efebff;
$background-color: #fafafa;
$black-color: #333333;
$grey-color: #737373;
$lightgrey-color: #d9d9d9;
$white-color: #ffffff;
$error-color: #ff3939;

$fontsize-xl: 64px;
$fontsize-l: 32px;
$fontsize-m: 16px;
$fontsize-s: 12px;

$border-radius-m: 12px;
$border-radius-s: 8px;
