@import "../../variables.scss";
.box {
  width: 100%;
  margin: 3%;
}

.boxMobile {
  width: 100%;
}

.container {
  position: relative;
  min-height: 834px;
  height: 100%;
  background-color: $white-color;
  width: 100%;
  border-radius: $border-radius-m;
}

.width {
  width: 100%;
}

.widthMobile {
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
}
