@import "../../variables.scss";

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  10%,
  90% {
    opacity: 1;
  }
}

.box {
  background-color: $black-color;
  padding: 16px 24px;
  border-radius: $border-radius-m;
  animation: fadeInOut 3s ease-in forwards;
  &.mobile {
    margin: 3%;
    padding: 8px 40px;
    text-align: center;
  }
}
